.App {
  text-align: center;
}

.menu-bar{
  /*display: flex;*/
  /*background-color: #f4f4f4;*/
  /*margin: 0 auto;*/
  /*width: fit-content;*/
}

.nav-item {
  text-decoration: none; /* אין פס תחתון */
  color: black; /* צבע רגיל */
  border-bottom: 2px solid #F27BBD;
}

.nav-item:hover{
  /*background: #FED9ED;*/
  border: 2px solid #F27BBD;
  font-weight: bold;
}